@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
.weather-box{
    display: flex;
    width: 100%;
    height: 80px;
    background: gray;
}
.weather-box h1{
    margin: 28px 0 0 920px;

    color: #efeeec;
    font-size: 20px;
    font-family: 'Abel', sans-serif;
}
.weather{
    margin-left: 10px;
    display: block;
}
.weather p{
    margin: -25px 0 0 0;
    font-size: 20px;
    font-weight: bold;
}
.icon{
    width: 75px;
}
span{
    color: #efeeec;
    font-weight: bolder;
    font-size: medium;
}