.admin h1{
    margin: 50px 0 0 375px;
}
.admin-post{
    width: 450px;
    margin: 20px 0 0 375px;
}
.title{
    margin: 15px;
    width: 350px;
    height: 30px;
    padding: 5px;

    font-size: 18px;
    border: 2px solid gray;
}
.text{
    margin: 15px;
    width: 350px;
    height: 30px;
    padding: 5px;

    font-size: 18px;
    border: 2px solid gray;
}
.file-input{
    position: absolute;
    overflow: hidden;
    z-index: -1;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
}
label{
    margin: 0 0 0 15px;
    display: inline-block;
    cursor: pointer;
    background-color: green;
    padding: 10px 30px;
    color: #FFF;
    box-shadow: 0 0 18px 2px rgba(0,0,0,0.75);
    font-size: 15px;
    font-weight: bold;
}
.btn-admin{
    margin: 15px 0 0 5px;
}
.btn-admin button{
    width: 155px;
    padding: 15px;
    margin: 10px;

    color: #FFF;
    border: none;
    background-color: grey;
    box-shadow: 0 0 18px 2px rgba(0,0,0,0.75);
    font-size: 15px;
    font-weight: bold;
}
.img-admin{
    margin: 20px 0 0 10px;
    width: 250px;
    height: 120px;
}
.posts-content h1{
    margin: 0 0 80px 120px;
}
.posts-content{
    width: 900px;
    margin: 50px auto;
}
.button-modal{
    margin: 0 45px 0 0;
    text-align: right;
}
.closedModal{
    font-size: 25px;
    color: green;
    font-weight: bold;
    border: none;
    background: none;
}