.pages{
    width: 900px;
    margin: 50px auto;
}
.img-content img{
    width: 850px;
    height: 350px;
}
.text-content h1{
    margin: 0 0 20px 0;

    font-size: 30px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
}
.like-content{
    display: flex;
}
.like-content p{
    font-weight: bold;
}
.like{
    margin: 10px 0 0 15px;
    padding: 5px;
    width: 70px;
    height: 30px;

    background: white;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #000;
}
.like:active{
    background: red;
}