.Modal{
    position: fixed;
    z-index: 500;
    background: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #2988F8;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}
.Modal h1{
    text-align: center;
    font-size: 35px;

    color: red;
    font-weight: normal;
}