@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
.box{
    display: block;
}
.text-bar{
    width: 100%;
    height: 95px;
    padding: 25px;

    text-align: center;
    background: #58A4B0;
    font-size: 25px;
    font-family: 'Abel', sans-serif;
}
.text-bar h1{
    margin: 0;
    width: 100%;
    text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
    color: #f8f8f8;
}
.Menu{
    margin: 15px 0 0 0;
    padding: 0 0 15px 0;
    text-align: center;

    border-bottom: 2px solid #000;
}
.page {
    margin: 0 0 0 45px;
    padding: 10px;

    color: #000;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Abel', sans-serif;
}
.Menu a:hover{
    color: #f8f8f8;
    background: #000;
}