.post-main{
    display: flex;
    margin: 25px;
    padding-bottom: 20px;

    border-bottom: 2px solid #000;
}
.post-main:last-child{
    border-bottom: none;
}
.post-main img {
    width: 200px;
    height: 150px;
}
.post-content{
    display: block;
}
.post-main{
    width: 100%;
}
.post-box{
    display: flex;
}
.text-header{
    margin: 0 0 0 35px;
    display: block;

}
.text-header a{
    margin-top: 15px;
    text-decoration: none;

    color: #000;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
}
.text-header a:hover {
    text-decoration: underline;
}

.text-header p{
    margin: 0 0 15px 0;

    color: grey;
    font-size: 12px;
    font-weight: bold;
}
.post-text{
    margin: 0 0 0 35px;
}
.post-text p{
    margin-top: 10px;
    font-size: 15px;
    line-height: 18px
}
.button.red{
    margin-left: 455px;
    width: 35px;
    height: 25px;

    color: white;
    background: red;
    border: none;
    font-weight: bold;
    font-size: 15px;
}
.kg-posts-content{
    width: 900px;
    margin: 50px auto;
}
